{% extends 'base.html.twig' %}

{% block title %}Denrée{% endblock %}

{% block body %}

    {% if app.user.roles[0]  == "ROLE_ADMIN" %}
        <div class="example-wrapper">
            <h1>bonjour Monsieur Administrateur </h1>

            {{ form_start(searchForm) }}
            <div class="flex-section filter-box-ticket">
                {{ form_widget(searchForm.name) }}
                {{ form_widget(searchForm.flashingdepot) }}
            </div>
            {{ form_widget(searchForm.rechercher) }}
            {{ form_start(searchForm) }}


            <table>
                <tr>
                    <th>nom</th>
                    <th>prénom</th>
                    <th>personnes par foyer</th>
                    <th>date du depot</th>
                    <th>ticket flashé</th>

                </tr>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.user.lastname }}</td>
                    <td>{{ ticket.user.firstname }}</td>
                    <td>{{ ticket.user.nbfamilly }}</td>
                    <td>{{ ticket.depotdate }}</td>
                    <td>
                        {% if ticket.flashingdepot == 0%}
                            <img alt="non validé" src={{ asset('images/croix.png')   }} >
                        {% endif %}
                        {% if ticket.flashingdepot == 1%}
                            <img alt ="validé" src={{ asset('images/valider.png')  }}>
                        {% endif %}
                    </td>

                    {% endfor %}

            </table>
        </div>
        {% for message in app.flashes('erreur') %}
            <div class="alert-message font26px">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        <div>Vous n'avez pas acces au compte administrateur</div>
    {% endif %}
{% endblock %}
