{% extends 'base.html.twig' %}

{% block title %}Denrée{% endblock %}

{% block body %}
    <style>
        .example-wrapper { width: 95%; margin-left: auto; margin-right: auto;  font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5;  }
    </style>
    {% if app.user.roles[0]  == "ROLE_ADMIN" %}
        <div class="example-wrapper">
            <h1>bonjour Monsieur Administrateur </h1>

            <table>
                <tr>
                    <th>nom</th>
                    <th>prénom</th>
                    <th>personnes par foyer</th>
                    <th>date du depot</th>
                    <th>ticket flashé</th>

                </tr>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.user.lastname }}</td>
                    <td>{{ ticket.user.firstname }}</td>
                    <td>{{ ticket.user.nbfamilly }}</td>
                    <td>{{ ticket.depotdate }}</td>
                    <td>
                        {% if ticket.flashingdepot == 0%}
                            <img alt="non validé" src={{ asset('images/croix.png')   }} >
                        {% endif %}
                        {% if ticket.flashingdepot == 1%}
                            <img alt ="validé" src={{ asset('images/valider.png')  }}>
                        {% endif %}
                    </td>

                    {% endfor %}

            </table>




        </div>
    {% else %}
        <div>Vous n'avez pas acces au compte administrateur</div>
    {% endif %}
{% endblock %}
