{% extends 'base.html.twig' %}

{% block title %}Denrée{% endblock %}

{% block body %}

{% if app.user.roles[0]  == "ROLE_ADMIN" %}
<a href="{{ path("ShowArchiveTickets") }}" class="ml50px link-button mt10px"> archives des tickets</a>

    <div class="example-wrapper">
    <h1>bonjour Monsieur Administrateur </h1>

    {{ form_start(searchForm) }}
    <div class="flex-section filter-box-user">
       {{ form_widget(searchForm.lastname) }}
        {{ form_widget(searchForm.firstname) }}
        {{ form_widget(searchForm.valid) }}
    </div>
    {{ form_widget(searchForm.rechercher) }}
    {{ form_end(searchForm) }}



    <table>
        <tr>
                <th>nom</th>
                <th>prénom</th>
            <th class="device-hidden">email</th>
            <th class="device-hidden">personnes par foyer</th>
            <th class="device-hidden">adresse</th>
            <th>documents</th>
            <th>Verification</th>
            <td>Supprimer l'utilisateur</td>

        </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td class="device-hidden">{{ user.email }}
                    {% if user.roles[0] == "ROLE_ADMIN" %}
                    <img alt="Administrateur" src={{ asset('images/administrateur.png')  }}>
                    {% endif %}</td>
                    <td class="device-hidden">{{ user.nbfamilly }}</td>
                    <td class="device-hidden">{{ user.address }}</td>
                    <td><a href="admin/documents/{{ user.id }}">Parcourir</a></td>
                    <td>
                        {% if user.valid == 0%}
                            <img alt="non validé" src={{ asset('images/croix.png')   }} >
                        {% endif %}
                        {% if user.valid == 1%}
                            <img alt ="validé" src={{ asset('images/valider.png')  }}>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.roles[0] != "ROLE_ADMIN" %}
                            <a href="/delete/{{ user.id }}"><img alt ="effacer" src={{ asset('images/effacer.png')  }}></a>
                        {% endif %}
                    </td>
            {% endfor %}

    </table>



</div>
    {% for message in app.flashes('erreur') %}
        <div class="alert-message font26px">
            {{ message }}
        </div>
    {% endfor %}
    {% else %}
    <div>Vous n'avez pas acces au compte administrateur</div>
    {% endif %}

{% endblock %}
